<!-- Sidebar -->
<ul class="navbar-nav bg-gray-800 sidebar sidebar-dark accordion fixed-top" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-text mx-3">Deep Learning for SCA</sup></div>
    </a>

    <li class="nav-item">
        <a class="nav-link" href="{{ url_for( 'scripts_aes') }}">
            <i class="fas fa-fw fa-table"></i>
            <span>Scripts</span></a>
    </li>

    <hr class="sidebar-divider">

    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('search') }}">
            <i class="fas fa-fw fa-table"></i>
            <span>Hiplot</span></a>
    </li>

    <hr class="sidebar-divider">

    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('table') }}">
            <i class="fas fa-fw fa-table"></i>
            <span>DL-SCA on AES</span></a>
    </li>

    <hr class="sidebar-divider">

    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('table_pkc') }}">
            <i class="fas fa-fw fa-table"></i>
            <span>DL-SCA on PKC</span></a>
    </li>
</ul>
<!-- End of Sidebar -->

<script type="application/javascript">
    $(document).ready(function () {
        $(function () {
            $.ajax({
                url: '/get_db_pkc',
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        console.log(data[i]);
                        $('#pkc_databases').append('<a class="collapse-item">' + data[i] + '</a>');
                    }
                }
            });
        })
    })
</script>
