{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}

    {% if training_hyper_parameters | length > 0 %}
        <div class="row" style="padding-top:10px;">
            <div class="col-12">
                <div class="card shadow mb-6">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Training Information</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        {% for hyper_parameter in training_hyper_parameters %}
                            <div class="row">
                                <div class="col-xl-12 col-md-12 mb-4">
                                    <h5>Hyper-Parameters for Model {{ loop.index }}</h5>
                                </div>
                            </div>
                            <div class="row">
                                {% for key, value in hyper_parameter.items() %}
                                    <div class="col-xl-2 col-md-6 mb-4">
                                        <div class="card border-left-dark shadow h-100 py-2">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
                                                            {{ key }}
                                                        </div>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ value }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row" style="padding-top:10px;">
            <div class="col-12">
                <div class="card shadow mb-6">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Training Information ({{ analysis.dataset }})</h6>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row" style="padding-top:10px;">
        <div class="col-12">
            <div class="card shadow mb-6">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Keras Model Information</h6>
                </div>
                <pre style="margin: 0">
            <code class="language-python">
{{ neural_network_description }}
            </code>
        </pre>
            </div>
        </div>
    </div>

    <div class="row">
        {% for accuracy_plots in all_accuracy_plots %}
            <div class="col col-lg-12 col-xl-12 col-md-12" style="padding-top:10px;">
                <div class="card shadow mb-12">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">{{ accuracy_plots.title }}</h6>
                    </div>
                    <div class="chart" id="{{ accuracy_plots.title }}_plot">
                        <script>
                            var plotly_layout = {{ accuracy_plots.layout_plotly | tojson }};
                            {% for plot in accuracy_plots.plots %}
                                var graphs = {{plot | safe}};
                                Plotly.plot('{{ accuracy_plots.title }}_plot', graphs, plotly_layout);
                            {% endfor %}
                        </script>
                    </div>
                </div>
            </div>
        {% endfor %}

        {% for accuracy_plots in all_accuracy_iteration_plots %}
            <div class="col col-lg-12 col-xl-12 col-md-12" style="padding-top:10px;">
                <div class="card shadow mb-12">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">{{ accuracy_plots.title }}</h6>
                    </div>
                    <div class="chart" id="{{ accuracy_plots.title }}_plot">
                        <script>
                            var plotly_layout = {{ accuracy_plots.layout_plotly | tojson }};
                            {% for plot in accuracy_plots.plots %}
                                var graphs = {{plot | safe}};
                                Plotly.plot('{{ accuracy_plots.title }}_plot', graphs, plotly_layout);
                            {% endfor %}
                        </script>
                    </div>
                </div>
            </div>
        {% endfor %}

        {% for visualization_plots in all_visualization_plots %}
            {% for visualization_metric_plot in visualization_plots.plots %}
                {% set key_byte_index = loop.index - 1 %}
                <div class="col-lg-12 col-xl-12 col-md-12" style="padding-top:10px;">
                    <div class="card shadow mb-12">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Visualization - Key Byte {{ key_byte_index }}
                            </h6>
                        </div>
                        <div class="chart" id="visualization_plot_key_byte_{{ key_byte_index }}">
                            <script>
                                var plotly_layout = {{ visualization_plots.layout_plotly | tojson }};
                                {% for plot in visualization_metric_plot %}
                                    var graphs = {{plot | safe}};
                                    Plotly.plot('visualization_plot_key_byte_' + {{ key_byte_index }}, graphs, plotly_layout);
                                {% endfor %}
                            </script>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}

        {% for visualization_heatmap_plots in all_visualization_heatmap_plots %}
            {% for visualization_heatmap_metric_plot in visualization_heatmap_plots.plots %}
                {% set key_byte_index = loop.index - 1 %}
                <div class="col-lg-12 col-xl-12 col-md-12" style="padding-top:10px;">
                    <div class="card shadow mb-12">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Visualization HeatMap - Key Byte {{ key_byte_index }}
                            </h6>
                        </div>
                        <div class="chart" id="visualization_heatmap_plot_key_byte_{{ key_byte_index }}">
                            <script>
                                var plotly_layout = {{ visualization_heatmap_plots.layout_plotly | tojson }};
                                {% for plot in visualization_heatmap_metric_plot %}
                                    var graphs = {{plot | safe}};
                                    Plotly.plot('visualization_heatmap_plot_key_byte_' + {{ key_byte_index }}, graphs, plotly_layout);
                                {% endfor %}
                            </script>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    {% for visualization_plots in all_visualization_plots %}
            {% for visualization_metric_plot in visualization_plots.plots %}
                {% set key_byte_index = loop.index - 1 %}
                <div class="col-lg-12 col-xl-12 col-md-12" style="padding-top:10px;">
                    <div class="card shadow mb-12">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Visualization - Key Byte {{ key_byte_index }}
                            </h6>
                        </div>
                        <div class="chart" id="visualization_plot_key_byte_{{ key_byte_index }}">
                            <script>
                                var plotly_layout = {{ visualization_plots.layout_plotly | tojson }};
                                {% for plot in visualization_metric_plot %}
                                    var graphs = {{plot | safe}};
                                    Plotly.plot('visualization_plot_key_byte_' + {{ key_byte_index }}, graphs, plotly_layout);
                                {% endfor %}
                            </script>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}

        {% for visualization_heatmap_plots in all_visualization_heatmap_plots %}
            {% for visualization_heatmap_metric_plot in visualization_heatmap_plots.plots %}
                {% set key_byte_index = loop.index - 1 %}
                <div class="col-lg-12 col-xl-12 col-md-12" style="padding-top:10px;">
                    <div class="card shadow mb-12">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Visualization HeatMap - Key Byte {{ key_byte_index }}
                            </h6>
                        </div>
                        <div class="chart" id="visualization_heatmap_plot_key_byte_{{ key_byte_index }}">
                            <script>
                                var plotly_layout = {{ visualization_heatmap_plots.layout_plotly | tojson }};
                                {% for plot in visualization_heatmap_metric_plot %}
                                    var graphs = {{plot | safe}};
                                    Plotly.plot('visualization_heatmap_plot_key_byte_' + {{ key_byte_index }}, graphs, plotly_layout);
                                {% endfor %}
                            </script>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}


{% endblock %}